%h1 Form
= form_tag board_id_path do
	= select_tag :id, options_for_select(@boards.collect{ |u| [u.name, u.id] })
	= submit_tag "Go"

%table.table
	%thead
		%tr
			%th
				id
			%th
				Task
			%th
				Reponsable
			%th
				Status
			%th
				Deadline
			%th 
				Time
	%tbody
		- @board.cards.each do |card|
			%tr
				%td
					= card.short_id
				%td
					= card.name
				%td
					- unless card.member_ids.empty?
						= Trello::Member.find(card.member_ids.first).full_name
				%td
					- unless card.list_id.blank?
						= Trello::List.find(card.list_id).name
				%td
					- unless card.due.blank?
						= card.due.in_time_zone.strftime("%F %T")